
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503385653991'); /* IE9*/
  src: url('iconfont.eot?t=1503385653991#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503385653991') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503385653991') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503385653991#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  /*font-size:16px;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hezi:before { content: "\e705"; }

.icon-coupon:before { content: "\e703"; }

.icon-yaoyiyaofankui:before { content: "\e70b"; }

.icon-dianhua2:before { content: "\e70e"; }

.icon-diamond:before { content: "\e72f"; }

.icon-sousuo1:before { content: "\e743"; }

.icon-diqu:before { content: "\e677"; }

.icon-qiantaishouyin:before { content: "\e711"; }

.icon-cangku:before { content: "\e712"; }

.icon-up:before { content: "\e733"; }

.icon-gouwu1:before { content: "\e78b"; }

.icon-shangcheng4:before { content: "\e71c"; }

.icon-smartphone__e:before { content: "\e71d"; }

.icon-youhuiquan1:before { content: "\e71e"; }

.icon-hexiao:before { content: "\e721"; }

.icon-youhuiquan2:before { content: "\e722"; }

.icon-xiaochengxu3:before { content: "\e723"; }

.icon-shangcheng5:before { content: "\e726"; }

.icon-gouwu4:before { content: "\e729"; }

.icon-shouyintai1:before { content: "\e72a"; }

.icon-yihexiao:before { content: "\e72b"; }

.icon-up-copy:before { content: "\e78c"; }

