body{
	
}
#Packages{
	width: 1170px;
    margin: 73px auto 0 auto;
}

.tableHead{
	position:fixed; 
	width:1300px;
	padding-top:1px; 
    border-bottom:2px solid #999; 
}
.tableHead th{
	font-size: 14px;
}
 .table-bordered{
	border: 1px solid #ddd;
    /* border-collapse: separate; */
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.table th, .table td {
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #ddd; 
    border-left: 1px solid #ddd; 
    text-align: center;
    font-size: 14px;
} 


.table td.ok{
	font-weight:bolder; 
	font-size: 18px;
}
.inlineTab th{
	text-align: center
}

