body{color:#333;font-family: "微软雅黑";}
*{padding:0;margin:0;}
li{list-style: none;}
a{text-decoration:none;color:#333;}

.a-ag-banner{
    height: 442px;
    border-bottom: 1px solid;
    background-image: url(../images/c1.png);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-animation: bounce-bb 2.2s linear infinite;
    animation: bounce-bb 2.2s linear infinite;
    animation-iteration-count: 1;
}
.a-ag-banner-box{
    height: 442px;
    overflow: hidden;
    position: relative;
}
.a-ag-banner-txt{
    height: 442px;
    margin: 0 auto 0;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -70px;
}
@-webkit-keyframes bounce-bb {
    0% {
        transform: scale(1.00);
    }
    50%{
        transform: scale(1.02);
    }
    100% {
        transform: scale(1.00);
    }
}
@keyframes bounce-bb {
    0% {
        transform: scale(1.00);
    }
    50%{
        transform: scale(1.02);
    }
    100% {
        transform: scale(1.00);
    }
}
.a-ag-banner-box h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.8;
}

.cxb-gobtn {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 0;
    width: 159px;
    background-image: url(../images/bcxb-gobtn.png);
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: 49px;
}

.cxb-gobtn .rower {
    position: absolute;
    right: -20px;
    top: 10px;
}

.cxb-gobtn > *:not(.clearmid) {
    position: relative;
    z-index: 2;
}

.cxb-gobtn .btnmask {
    width: 0;
    height: 100%;
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, from(#3399ff), to(#61e5fe));
    background: -webkit-linear-gradient(left, #3399ff, #61e5fe);
    background: -moz-linear-gradient(left, #3399ff, #61e5fe);
    background: -o-linear-gradient(left, #3399ff, #61e5fe);
    background: linear-gradient(left, #3399ff, #61e5fe);
    background: -ms-linear-gradient(left, #3399ff, #61e5fe);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3399ff', endColorstr='#61e5fe', GradientType=0);
    content: '';
    display: block;
    top: 0px;
    left: 0px;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
    -moz-transition: width 1s;
    transition: width 1s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.cxb-gobtn .btnmask :root .gradient {
    -webkit-filter: none;
    filter: none;
}

.cxb-gobtn:hover .btnmask {
    width: 100%;
}

.cxb-gobtn > div {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
}

.cxb-gobtn span {
    background-position: -62px -441px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.b-register-box{
    width: 700px;
    margin: 47px auto;
    padding-left: 160px;
}
.el-form-item__error {
    color: #fe4040;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    left: 430px;
    min-width: 100px;
    top: 0;
    border:0;
    height: 32px;
    line-height: 27px;
    padding-left: 45px;
    background-image: url("../images/berror-tips.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.el-button--primary {
    color: #fff;
    background-color: #2d8dfd;
    border-color: #2d8dfd;
}