body{color:#333;font-family: "微软雅黑";}
*{padding:0;margin:0;}
li{list-style: none;}
a{text-decoration:none;color:#333;}

.a-explain{
    width: 1200px;
    margin:55px auto;
    text-align: center;
    color: #333;
    padding-top: 1px;
}
.a-explain h1{
    margin: 55px 0;
    font-size: 28px;
    font-weight: normal;
}
.a-explain h2{
    font-size: 28px;
    font-weight: normal;
    margin: 15px 0 60px;
}
.a-explain-ul{
    width: 1069px;
    margin: 0 auto;
}
.a-explain-ul li{
    width: 307px;
    height: 257px;
    display: inline-block;
    margin: 0 22px;
    line-height: 2;
    font-size: 12px;
}
.a-explain-ul li:hover{
    cursor: pointer;
    -webkit-box-shadow: 3px 5px 20px #dddddd;
    -moz-box-shadow: 3px 5px 20px #dddddd;
    box-shadow: 3px 5px 20px #dddddd;
}
.a-explain-ul li img{
    padding-top: 45px;
}
.a-explain-ul li h3{
    font-weight: normal;
    font-size: 18px;
    padding: 0 0 5px;
}
/**/
.a-explain-code{
    width:1200px;
    margin:0 auto;
}
.a-explain-code li{
    width: 307px;
    height: 257px;
    display: inline-block;
    margin: 0 22px;
}
.a-explain-code li:hover{
    cursor: pointer;
    -webkit-box-shadow: 3px 5px 20px #dddddd;
    -moz-box-shadow: 3px 5px 20px #dddddd;
    box-shadow: 3px 5px 20px #dddddd;
}
.a-explain-code li img{
    padding: 33px 0;
}